<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar"
>
  <div class="fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", width: 300 %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</div>


<div class="lista" >
  <h1>Lista de pisos</h1>
  <%= form_tag pisos_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mg-3",
      placeholder: "Buscar piso"
    %>
    <%= submit_tag "Buscar", class: "btn btn-primary" %>
    <%= link_to "Criar", pisos_new_path, class: "btn btn-success" %>
  <% end %>
</div>


<div>
  <% @pisos.each do |piso| %>
      <div data-controller="hello">
        <input type="checkbox" name="" id="">
        <label for="">
          <%= link_to piso.nome, piso_path(piso.id) %>
        </label>
      </div>
  <% end %>
</div>
