<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar"
>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="" width="200" id="logo">

</div>


<div class="lista" >
  <h1>Lista de pisos</h1>
  <%= form_tag pisos_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mg-3",
      placeholder: "Buscar piso"
    %>
    <%= submit_tag "Buscar", class: "btn btn-primary" %>
    <%= link_to "Criar", pisos_new_path, class: "btn btn-success" %>
  <% end %>
</div>


<div>
  <% @pisos.each do |piso| %>
      <div data-controller="hello">
        <input type="checkbox" name="" id="">
        <label for="">
          <%= link_to piso.nome, piso_path(piso.id) %>
        </label>
      </div>
  <% end %>
</div>
