<div class="container">
  <div>
    <h1>Cadastrar produto</h1>
  </div>
  <div class="form">
              <%= simple_form_for @piso do |f| %>

                <%=f.input :nome,
                            required: true,
                            autofocus: true,
                            class: 'form-style border border-1 border-white rounded',
                            placeholder: "Nome" %>
                <i class='input-icon uil uil-at'></i>

                <%=f.input :tamanho,
                            required: false,
                            autofocus: true,
                            class: 'form-style border border-1 border-white rounded',
                            placeholder: "Tamanho" %>
                <i class='input-icon uil uil-at'></i>

                <%=f.input :valor,
                            required: true,
                            autofocus: true,
                            class: 'form-style border border-1 border-white rounded',
                            placeholder: "Valor"%>
                <i class='input-icon uil uil-at'></i>

                <%=f.input :prazo,
                            required: true,
                            autofocus: true,
                            class: 'form-style border border-1 border-white rounded',
                            placeholder: "Dias Corridos"%>
                <i class='input-icon uil uil-at'></i>

                <%= f.input :photo,

                            as: :file,
                            class: 'btn-sign mb-1 mt-3 rounded-3' %>

                <div class="form-actions">
                  <%= f.submit "Criar piso", class: 'btn-sign mb-1 mt-3 rounded-3' %>
                </div>
              <% end %>
  </div>
  <div class="navMenu" >
    <%= link_to "Lista", pisos_path %>
    <%= link_to "Voltar", root_path %>
  </div>
</div>
