<div class="container">
  <div class="wrapper">
    <div class="product-img">
      <h1><%= @piso.nome %></h1>
      <%= cl_image_tag @piso.photo.key, height: 300, width: 413, crop: :fill %>
    </div>
    <div class="price-flex" style="color:white">
        <p>R$<%= @piso.valor %></p>
        <p><%= @piso.prazo %>dias corridos</p>
    </div>
    <div class="product-price-btn">
     <a href="https://api.whatsapp.com/send?phone=+551599816-4773"  style="color:white">Comprar</a>
    </div>
    <div class="delete">
      <%= link_to "Deletar #{@piso.nome}",
        piso_path(@piso),
        method: :delete,
        data: { confirm: "Tem certeza?" } %>
    </div>
    <div >
      <h1><%= link_to "Pag inicial", root_path, class: "link"%></h1>
    </div>
  </div>
</div>
